extends layout

block content
  .flex
    include side.pug
    p 
    |Welcome to #{title} 
    br
    |PugはHTMLを効率よくコーディングするためのテンプレートエンジンです。もともとはJadeという名前で呼ばれていました。
    br
    |Pugとは「パグ」と読み、HTMLを効率的に書くための記述方法です。

