doctype html
html
  head
    title= "PUG-APP"
    <script src="https://cdn.tailwindcss.com"></script>
        <script src="../javascripts/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    link(rel='stylesheet' href='../stylesheets/style.css')
    link(rel='stylesheet' href='../stylesheets/nav.css')
    link(rel="icon" href='https://cdn3.iconfinder.com/data/icons/dog-muzzle/500/SingleCartoonDogsMuzzleNata_8-512.png')
  body
    
    include header.pug
    block content
    include footer.pug
