doctype html
html
  head
    title= title
    <script src="https://cdn.tailwindcss.com"></script>
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/nav.css')
    link(rel="icon" href='https://cdn3.iconfinder.com/data/icons/dog-muzzle/500/SingleCartoonDogsMuzzleNata_8-512.png')
  body
    
    include header.pug
    block content
    include footer.pug
