body {
    padding: 0;
}

.text h2{
    font-size: 250%;
}

a {
    color: gray;
    font-size: 120%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #797979;
}

