body {
    padding: 0;
    font-size: 120%;
}

a {
    color: gray;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 70%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #797979;
}